include $(WLAN_ROOT)/configs/art_gki_fig-v2_defconfig

# iq9075 runs wlan as an out-of-tree module
CONFIG_QCA_CLD_WLAN=m
CONFIG_CNSS_OUT_OF_TREE=y

# explicitly disabled on iq9075
CONFIG_IPA_OFFLOAD=n
CONFIG_IPA_OPT_WIFI_DP=n
CONFIG_IPA_OPT_WIFI_DP_CTRL=n
CONFIG_IPA_OPT_WIFI_DP_LOGGING=n
CONFIG_IPA_WDI3_PENDING_BUFF_REPORT=n
CONFIG_DRIVER_PASSTHRU_MODE=n
CONFIG_WLAN_DP_LOAD_BALANCE_SUPPORT=n
CONFIG_WLAN_DP_FLOW_BALANCE_SUPPORT=n
CONFIG_FEATURE_SMEM_MAILBOX=n

# iq9075-specific additions
QCA_WIFI_FTM_NL80211=y
